@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0a0d14;
  --primary-color-light: #20242f;
  --secondary-color: #3fa246;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to top, white, transparent),
  url("assets/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  height: 60px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: var(--secondary-color);
}

nav li:first-child {
  margin-right: auto;
}

/* Slider  */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--white);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
      display: none;
  }
  .menu-button {
      display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
      width: 100%;
  }
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 160px;
  line-height: 20px;
  font-size: .8rem;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover a {
  background-color: var(--secondary-color);
}

.dropdown a:hover {
  background-color: var(--white);
}

.sidebar .dropdown-content {
  position: static;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.sidebar .dropdown-content a {
  padding: 12px 30px;
}

/* Optional: Adjust dropdown styles for small screens */
@media (max-width: 800px) {
  .main-nav .dropdown-content {
      position: static;
      box-shadow: none;
      background-color: rgba(255, 255, 255, 0.9);
      width: 100%;
  }

  .main-nav .dropdown-content a {
      padding: 12px 30px;
  }
}


/* Contact CSS Styles Starts */

.contact {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}

.contact__card {
  max-width: 250px;
  margin: auto;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  border: 1px solid var(--extra-light);
  border-radius: 100%;
  cursor: pointer;
}

.contact__card span {
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: 0.3s;
}

.contact__card:hover span {
  color: var(--secondary-color);
}

.contact__col h4 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.contact__col h5 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
}



/* from section */
/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.form-container {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.form-container h1 {
  margin-bottom: 20px; 
  font-size: 24px;
  color: #333;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 0;
}

.form-container button {
  background-color: #3fa246;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  background-color: #0f7624;
  
}

/* Contact Info */
.contact-info {
  text-align: center;
  max-width: 600px;
  margin-top: 20px;
}

.contact-info h2 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #333;
}

.contact-info p {
  font-size: 16px;
  color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .form-container,
  .contact-info {
    width: 100%;
    padding: 20px;
  }

  .form-container h1,
  .contact-info h2 {
    font-size: 20px;
  }
}

/* Contact CSS Styles End */



/* Location Section */
.location {
  background-color: transparent;
  padding: 3rem 1rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.location__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.location__details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.location__title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.location__address {
  font-size: 1.1rem;
  color: black;
  line-height: 1.5;
}

.location__map {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  height: 450px;
}

.location__map iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.location__button {
  background-color: #3fa246;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  transition: background-color 0.3s, transform 0.3s;
  align-self: flex-start;
  text-decoration: none;
}

.location__button:hover {
  background-color: #0f7624;
  transform: translateY(-2px);
 
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .location__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .location__map {
    height: 300px;
  }

  .location__button {
    align-self: center;
  }
}

/* Location Section End */



  /* Scroll to Top Button */
  .scroll-to-top {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px;  /* Distance from the right */
    background-color: #333; /* Background color of the button */
    color: #fff; /* Color of the arrow */
    border: none;
    border-radius: 50%;
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px; /* Size of the arrow icon */
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline */
    display: none; /* Hidden by default */
  }
  
  .scroll-to-top:hover {
    background-color: #555; /* Background color on hover */
  }
  
  .scroll-to-top i {
    pointer-events: none; /* Prevents click events on the icon inside the button */
  }
  
    
    
  
  




















































/* footer starts */

.footer__container {
    text-align: center;
  }
  
  .footer__container h4 {
    margin-bottom: 1rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .footer__socials {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .footer__socials span a {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer__socials span a:hover {
    color: var(--secondary-color);
  }
  
  .footer__container p {
    max-width: 600px;
    color: black;
    margin: auto;
    margin-bottom: 4rem;
  }
  
  .footer__nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .footer__link a {
    font-weight: 500;
    color: black;
  }
  
  .footer__link a:hover {
    color: var(--secondary-color);
  }
  
  .footer__bar {
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid var(--extra-light);
  }
  
  /* footer ends */
  















































  
@media (width < 900px) {
    .link:not(.search) {
      display: none;
    }
  
    .about__container {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  
    .about__container :is(.section__header, .section__subheader) {
      text-align: center;
    }
  
    .about__image {
      grid-area: 1/1/2/2;
    }
  
    .discover__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .blogs__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .journals__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .hero__container p {
      font-size: 10rem;
    }
  
    .gallery__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .contact__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .contact__col:first-child {
      grid-area: 1/1/2/3;
      text-align: center;
    }
  }
  
  
  @media (width < 600px) {
    .header__container {
      text-align: center;
    }
  
    .header__container h4 {
      margin-left: 0;
    }
  
    .about__card {
      border: none;
    }
  
    .discover__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .discover__card:nth-child(2) {
      transform: translateY(0);
    }
  
    .blogs__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .journals__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .hero__container p {
      font-size: 6rem;
    }
  
    .gallery__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .contact__container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .contact__col:first-child {
      grid-area: unset;
    }
  }
  