@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0a0d14;
  --primary-color-light: #20242f;
  --secondary-color: #3fa246;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to top, white, transparent),
  url("assets/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  height: 60px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: var(--secondary-color);
}

nav li:first-child {
  margin-right: auto;
}

/* Slider */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--white);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
      display: none;
  }
  .menu-button {
      display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
      width: 100%;
  }
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 160px;
  line-height: 20px;
  font-size: .8rem;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover a {
  background-color: var(--secondary-color);
}

.dropdown a:hover {
  background-color: var(--white);
}

.sidebar .dropdown-content {
  position: static;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.sidebar .dropdown-content a {
  padding: 12px 30px;
}

/* Optional: Adjust dropdown styles for small screens */
@media (max-width: 800px) {
  .main-nav .dropdown-content {
      position: static;
      box-shadow: none;
      background-color: rgba(255, 255, 255, 0.9);
      width: 100%;
  }

  .main-nav .dropdown-content a {
      padding: 12px 30px;
  }
}










/* Faciities Starts */

.hero__container p {
    text-align: center;
    font-size: 12rem;
    font-weight: 700;
    background-image: url("assets/banner.jpg");
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--extra-light);
  }
  
  .gallery__container {
    padding: 5rem 1rem;
  }
  
  .gallery__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
  .gallery__card {
    position: relative;
    overflow: hidden;
  }
  
  .gallery__content {
    position: absolute;
    left: 50%;
    bottom: -8rem;
    transform: translateX(-50%);
    width: 100%;
    padding: 2rem 1rem;
    transition: 0.3s;
    text-align: center;
    background-image: linear-gradient(to top, var(--primary-color), transparent);
  }
  
  .gallery__content h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--header-font);
  }
  
  .gallery__card:hover .gallery__content {
    bottom: 0;
  }
  
  .video-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    max-width: 1000px; /* Limit maximum width */
    margin: 0 auto; /* Center horizontally */
  }
  
  .video-container video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Ensure video fits within the container */
  }
  
  .controls {
    margin-top: 10px;
  }
  
  button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  /* Facilities end */
  

































/* footer starts */

.footer__container {
    text-align: center;
  }
  
  .footer__container h4 {
    margin-bottom: 1rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .footer__socials {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .footer__socials span a {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer__socials span a:hover {
    color: var(--secondary-color);
  }
  
  .footer__container p {
    max-width: 600px;
    color: black;
    margin: auto;
    margin-bottom: 4rem;
  }
  
  .footer__nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .footer__link a {
    font-weight: 500;
    color: black;
  }
  
  .footer__link a:hover {
    color: var(--secondary-color);
  }
  
  .footer__bar {
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid var(--extra-light);
  }
  
  /* footer ends */
  


  /* Scroll to Top Button */
  .scroll-to-top {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px;  /* Distance from the right */
    background-color: #333; /* Background color of the button */
    color: #fff; /* Color of the arrow */
    border: none;
    border-radius: 50%;
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px; /* Size of the arrow icon */
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline */
    display: none; /* Hidden by default */
  }
  
  .scroll-to-top:hover {
    background-color: #555; /* Background color on hover */
  }
  
  .scroll-to-top i {
    pointer-events: none; /* Prevents click events on the icon inside the button */
  }
  
    
    
  
  










































  
@media (width < 900px) {
    .link:not(.search) {
      display: none;
    }
  
    .about__container {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  
    .about__container :is(.section__header, .section__subheader) {
      text-align: center;
    }
  
    .about__image {
      grid-area: 1/1/2/2;
    }
  
    .discover__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .blogs__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .journals__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .hero__container p {
      font-size: 10rem;
    }
  
    .gallery__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .contact__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .contact__col:first-child {
      grid-area: 1/1/2/3;
      text-align: center;
    }
  }
  
  
  @media (width < 600px) {
    .header__container {
      text-align: center;
    }
  
    .header__container h4 {
      margin-left: 0;
    }
  
    .about__card {
      border: none;
    }
  
    .discover__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .discover__card:nth-child(2) {
      transform: translateY(0);
    }
  
    .blogs__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .journals__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .hero__container p {
      font-size: 6rem;
    }
  
    .gallery__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .contact__container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .contact__col:first-child {
      grid-area: unset;
    }
  }
  